$border_default: 5px solid white;
$base_color: #FFFFFF;
$base_bgcolor: #000000;

@mixin selected_command {
  border: 10px solid transparent;
  border-top-width: 10px;
  border-bottom-width: 10px;
  border-left-color: $base_color;
}

@keyframes typing {
  from { width: 0; opacity: 1; }
  to { width: 100%; opacity: 1; }
}

@mixin animation-delay($time) {
  animation-delay: calc(1.5s * (#{$time});
}

@font-face {
  font-family: 'PixelMplus10-Regular';
  src: url('./PixelMplus10-Regular.ttf');
}

/**
 * reset
 */
p {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: $base_bgcolor;
  background-size: 10px 10px;
  color: $base_color;
  font-family: PixelMplus10-Regular;
}
#container {
  margin: 50px auto;
  width: 800px;
  height: 800px;
  border: 1px solid $base_color;
  border-radius: 10px;
  padding: 16px;
  position: absolute;
  background-image: url('./field-image.png');
  background-size: cover;
}
.header {
  display: flex;
  justify-content: space-around;
  position: relative;

  > .status {
    top: 100px;
    padding: 15px;
    width: 130px;
    border: 5px solid $base_color;
    border-radius: 10px;
    position: relative;
    background: $base_bgcolor;

    > span {
      font-size: 24px;
      color: $base_color;
      background-color: $base_bgcolor;
      position: absolute;
      top: -15px;
      margin-left: 7px;
    }

    > .status-row {
      display: flex;
      justify-content: space-between;
      padding-top: 8px;

      > span {
        font-size: 24px;
      }
    }
  }

  > .command {
      padding: 15px;
      width: 300px;
      height: 75px;
      border: $border_default;
      border-radius: 10px;
      background: $base_bgcolor;

    > span {
      font-size: 24px;
      color: $base_color;
      background-color: $base_bgcolor;
      position: absolute;
      top: -15px;
      margin-left: 100px;
    }
    > div {
      > a {
        font-size: 24px;
        padding-left: 10px;
        display: inline-block;
        width: 140px;
        position: relative;

        &::selection {
          background-color: $base_bgcolor;
        }

        &:hover {
          cursor: pointer;
          &:before {
            @include selected_command;
            color: gray;
            width: 0;
            height: 0;
            content: '';
            position: absolute;
            left: -3px;
            top: 8px;
          }
        }
      }

      + div {
        margin-top: 5px;
      }
    }
  }
}
.monster {
  width: 350px;
  height: 350px;
  margin: 0 auto;
  z-index: -1;
  border: 5px solid $base_color;
  background: $base_bgcolor;
  background-size: cover;

  > .yagi {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: url('./yagi.png');
    background-size: cover;
  }
}
.messages {
  width: 500px;
  height: 250px;
  border: 5px solid $base_color;
  border-radius: 10px;
  background: $base_bgcolor;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 50px;

  &.clickable {
    cursor: pointer;
  }

  > .player-message, .enemy-message {
    padding: 12px;
    > p {
      display: inline-block;
      width: 100%;
      opacity: 0;
      white-space: nowrap;
      overflow: hidden;
      animation: typing 1.5s steps(30, end);
      animation-fill-mode: forwards;

      &.delay-1 {
        @include animation-delay(0);
      }

      &.delay-2 {
        @include animation-delay(1);
      }

      &.delay-3 {
        @include animation-delay(2);
      }

      &.delay-4 {
        @include animation-delay(3);
      }

      &.delay-5 {
        @include animation-delay(4);
      }

      &.delay-6 {
        @include animation-delay(5);
      }
    }
  }

  > .enemy-message {
    > p {
      padding-left: 50px;
    }
  }
}
